
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}



<body>

    <!-- script-for sticky-nav -->
    <script>
        $(document).ready(function () {
            var navoffeset = $(".agileits_header").offset().top;
            $(window).scroll(function () {
                var scrollpos = $(window).scrollTop();
                if (scrollpos >= navoffeset) {
                    $(".agileits_header").addClass("fixed");
                } else {
                    $(".agileits_header").removeClass("fixed");
                }
            });

        });
    </script>
    <!-- //script-for sticky-nav -->
    <div class="w3l_banner_nav_right">
        <div class="products-breadcrumb">
            <div class="container">
                <ul>
                    <li><i class="fa fa-home" aria-hidden="true"></i><a href="~/">Ana Sayfa</a><span>|</span></li>
                    <li>Giriş Yap</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="logo_products">
        <div class="container">
            <div class="w3l_banner_nav_right">
                <!-- login -->
                <div class="w3_login">
                    <h3>Giriş Yap & Kayıt Ol</h3>
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle">
                                <i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Tıkla</div>
                            </div>
                            <div class="form">
                                <h2>Giriş Yap</h2>
                                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                                {
                                    <input type="text" name="TxtUsernameLogin" placeholder="Kullanıcı Adı">  //Login Formu
                                    <input type="password" name="TxtPasswordLogin" placeholder="Şifre">
                                    <button type="submit">Giriş</button>
                                }



                            </div>

                            <div class="form">
                                <h2>Hesap Oluştur</h2>
                                @using (Html.BeginForm("Register", "Login", FormMethod.Post))
                                {
                                    <input type="text" name="TxtUsername" placeholder="Kullanıcı Adı">
                                    <input type="password" name="TxtPassword" placeholder="Şifre">
                                    <input type="email" name="TxtEmail" placeholder="Mail Adresi">          //Register Formu
                                    <input type="text" name="TxtPhone" placeholder="Telefon Numarası">
                                    <button type="submit">Kayıt Ol</button>
                                }
                            </div>

                            @{
                                if (TempData["LoginMessage"] != null)
                                {

                                    <script type="text/javascript">

                                            window.onload = function () {
                                                 alert("@TempData["LoginMessage"].ToString()");
                                                };
                                    </script>

                                }
                            }

                            

                            @*<div class="cta"><a href="#">Şifremi unuttum </a></div>*@
                        </div>
                    </div>
                    <script>
                        $('.toggle').click(function () {
                            // Switches the Icon
                            $(this).children('i').toggleClass('fa-pencil');
                            // Switches the forms
                            $('.form').animate({
                                height: "toggle",
                                'padding-top': 'toggle',
                                'padding-bottom': 'toggle',
                                opacity: "toggle"
                            }, "slow");
                        });
                    </script>
                </div>
                <!-- //login -->
            </div>
        </div>
    </div>
    <!-- //header -->
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <script src="js/minicart.js"></script>
    <script>
        paypal.minicart.render();

        paypal.minicart.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });

    </script>
</body>
