
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<div class="w3l_banner_nav_right">
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="~/Home/">Ana Sayfa</a><span>|</span></li>
                <li>Hakkımızda</li>
            </ul>
        </div>
    </div>
    <!-- about -->
    <div class="privacy about">
        <h1 align="center">Hakkımızda</h1>
        <br />
        <p>Manav Melih, içerisinde binlerce ürün barındırır, dakikalar içerisinde dilediğiniz ürünü ayağınıza getirir.</p>
        <br />
        <p>Zaman hepimiz için çok değerli, bu sebeple hayatınızı kolaylaştırmayı ilke edindik. Her geçen gün bir adım daha ileriye gitme amacıyla ürün yelpazemize, aklınıza gelebilecek her ürünü ekliyoruz.</p>
        <br />
        <p>Artık ihtiyaçlarınızı karşılamak için evinizden çıkmaya, konforunuzu bozmaya ve dakikalarca kasada beklemeye son!</p>
        <br />
        <img src="~/wwwroot/images/31.jpg" width="800" height="600">
        <br /><br/>
        <h1 align="center">Neden Manav Melih?</h1>
        <br />
        <h2>Dakikalar İçinde Hızlı Teslimat</h2>
        <br />
        <p>Manav Melih olarak, tercih edenleri hiçbir zaman bekletmemeyi prensip edindi, rakibi bile olamayacak diğer firmalar gibi sadece araçlar ve motokuryelerle değil, drone'larla bile dakikalar içerisinde istediğiniz ürünleri ayağınıza getiriyoruz.</p>
        <br />
        <h2>Canlı Sipariş Takibi</h2>
        <br />
        <p>Siparişinizi verdikten sonra arkanıza yaslanın ve değerli kuryelerimizin, araçlarımızın ve drone'larımızın takibini telefonunuzdan takip edebilirsiniz. Drone'larımızı telefonlarınızdan kontrol edişiniz sizleri adeta Farming Simulator havasına sokacak :)</p>
        <br />
        <h2>Kapıda Ödeme</h2>
        <br />
        <p>Bazıları gibi sadece kartla çalışmıyoruz :) Dilerseniz sipariş verdiğiniz anda dilerseniz kapıda ödeme ile alışveriş yapabileceksiniz. Sadece kartla değil dilerseniz nakit olarak da ödeyebilirsiniz, böylece bir şeyleri bedava alıyor hissiyatını iliklerinize kadar yaşayabilirsiniz :)</p>
        <br />
        <h2>Emeği Geçenler</h2>
        <br />
        <p>Bu proje, Back-End Bootcamp Ekibi tarafından geliştirilmiştir. Hocamız Tunç Güleç başta olmak üzere, emek veren tüm arkadaşlarımıza teşekkür ederiz...</p>
        <br />


    </div>
    <!-- //about -->
</div>
<div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- team -->
<div class="team">
    <div class="container">
        <h3>Emeği Geçenler</h3>
        <div class="agileits_team_grids">
            <div class="col-md-3 agileits_team_grid">
                <h4>Tunç Güleç</h4>
                <p>Master</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Akın Can Cesaretli</h4>
                <p>Coder</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Belgin Çoban</h4>
                <p>Coder</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Buket Soyhan</h4>
                <p>Coder</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Büşra Şimşek</h4>
                <p>Coder</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Celal Serdar Ergün</h4>
                <p>Coder</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Egemen Uluçam</h4>
                <p>Teamleader</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Emre Tüzünoğlu</h4>
                <p>Coder</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Fırat Seven</h4>
                <p>Coder</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Gökhan Kaya</h4>
                <p>Assistant</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Hasan Hüseyin Demirtaş</h4>
                <p>Coder</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Hüseyin Bilgiç</h4>
                <p>Coder</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Melih Özaslan</h4>
                <p>Assistant</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Tayfun Fırtına</h4>
                <p>Assistant</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <h4>Vejdi Burak</h4>
                <p>Coder</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //team -->