
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<div class="w3l_banner_nav_right">
    <div class="products-breadcrumb">
        <div class="container">
            <ul>

                <li><i class="fa fa-home" aria-hidden="true"></i><a href="~/">Anasayfa</a><span>|</span></li>

                <li>Kampanyalar</li>


            </ul>
        </div>
    </div>




</div>

