
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Web Portal Manav Melih</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Online manavcılığın zirvesi. Dünyada bir ilk Online Manavcılık. Domates, Patates, Patlıcan hepsi burada." />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/wwwroot/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/wwwroot/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="~/wwwroot/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="~/wwwroot/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/wwwroot/js/move-top.js"></script>
    <script type="text/javascript" src="~/wwwroot/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- header -->
    <div class="agileits_header">
        <div class="w3l_offers">
            <a href="#">Manavda Zirve = Manav Melih</a>
        </div>
        <div class="w3l_search">
            <form action="#" method="post">
                <input type="text" name="Product" value="Ürün adı giriniz..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">
                <input type="submit" value=" ">
            </form>
        </div>
        <div class="product_list_header">
            <form action="#" method="post" class="last">
                <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="display" value="1" />
                    <input type="submit" name="submit" value="Alışveriş Sepeti" class="button" />
                </fieldset>
            </form>
        </div>
        <div class="w3l_header_right" style="margin-top:6px;">
            <ul>
                <li>
                    @if (Session["User"] == null)
                    {
                        <a href="~/Login" class="btn btn-success " style="color:black; font-size:15px; "><i class="fa fa-user" aria-hidden="true"></i><span> Giriş Yap</span></a>
                    }
                    else
                    {
                        <a href="@Url.Action("Logout","Login")" class="btn btn-success " style="color:black; font-size:15px; "><i class="fa fa-user" aria-hidden="true"></i><span> Çıkış Yap</span></a> 
                    }

                </li>
            </ul>
            @*<ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
                        <div class="mega-dropdown-menu">
                            <div class="w3ls_vegetables">
                                <ul class="dropdown-menu drp-mnu">
                                    <li><a href="login.html">Giriş Yap</a></li>
                                    <li><a href="login.html">Üye Ol</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>*@
        </div>
        <div class="w3l_header_right1">
            <h2><a href="mail.html">İletişim</a></h2>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- script-for sticky-nav -->
    <script>
        $(document).ready(function () {
            var navoffeset = $(".agileits_header").offset().top;
            $(window).scroll(function () {
                var scrollpos = $(window).scrollTop();
                if (scrollpos >= navoffeset) {
                    $(".agileits_header").addClass("fixed");
                } else {
                    $(".agileits_header").removeClass("fixed");
                }
            });

        });
    </script>
    <!-- //script-for sticky-nav -->
    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left">
                <h1><a href="~/Home/Index"><span>Manav</span> Melih</a></h1>
            </div>
            <div class="w3ls_logo_products_left1">
                <ul class="special_items">
                    <li><a href="~/Home/Index">Ana Sayfa</a><i>/</i></li>
                    <li><a href="products.html">Ürünler</a><i>/</i></li>
                    @*↓ DataBase kısmından descending olarak çekip Product benzeri bir viev oluştur ↓*@
                    <li><a href="BestOffers.html">Kampanyalar</a><i>/</i></li>
                    <li><a href="about.html">Hakkımızda</a><i>/</i></li>
                    @if ((bool)Session["Admin"] == true)
                    {
                        <li><a href="~/Admin/Index">Admin Paneli</a><i></i></li>
                    }
                </ul>
            </div>
            <div class="w3ls_logo_products_left1">
                <ul class="phone_email">
                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:0123456789">(012) 345 6789</a></li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:Melih@grocery.com">Melih@grocery.com</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- banner -->
    <div class="banner">
        <div class="w3l_banner_nav_left">
            <nav class="navbar nav_bottom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav nav_1">
                        <li><a href="products.html">Ambalajlı ürünler</a></li>
                        <li><a href="products.html">Meyve</a></li>
                        <li><a href="products.html">Sebze</a></li>
                        <li><a href="products.html">İçecekler</a></li>
                        <li><a href="products.html">Unlu Mamüller</a></li>
                        <li><a href="products.html">Bakliyatlar</a></li>
                        <li><a href="products.html">Tatlılar</a></li>
                        <li><a href="products.html">Baharatlar</a></li>
                        <li><a href="pet.html">Evcil Hayvan Ürünleri</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>

    @RenderBody()

    <!-- newsletter -->
    <div class="newsletter">
        <div class="container">
            <div class="w3agile_newsletter_left">
                <h3>Yeniliklerden Haberdar Olmak İçin</h3>
            </div>
            <div class="w3agile_newsletter_right">
                <form action="#" method="post">
                    <input type="email" name="Email" value="E-Posta" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="submit" value="Şimdi Abone Ol">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>

        <div>

            @* Birşeyler değiştirdi *@

        </div>

    </div>
    <!-- //newsletter -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 w3_footer_grid">
                <h3>Bilgilendirme</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="~/Home/Index">Ana Sayfa</a><i>/</i></li>
                    <li><a href="products.html">Ürünler</a><i>/</i></li>
                    @*↓ DataBase kısmından descending olarak çekip Product benzeri bir viev oluştur ↓*@
                    <li><a href="BestOffers.html">Kampanyalar</a><i>/</i></li>
                    <li><a href="about.html">Hakkımızda</a><i>/</i></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                @*<h3>what in stores</h3>
                    <ul class="w3_footer_grid_list">
                        <li><a href="pet.html">Pet Food</a></li>
                        <li><a href="frozen.html">Frozen Snacks</a></li>
                        <li><a href="kitchen.html">Kitchen</a></li>
                        <li><a href="products.html">Branded Foods</a></li>
                        <li><a href="household.html">Households</a></li>
                    </ul>*@
            </div>
            <div class="col-md-3 w3_footer_grid">
                @*<h3>twitter posts</h3>
                    <ul class="w3_footer_grid_list1">
                        <li>
                            <label class="fa fa-twitter" aria-hidden="true"></label><i>01 day ago</i><span>
                                Non numquam <a href="#">http://sd.ds/13jklf#</a>
                                eius modi tempora incidunt ut labore et
                                <a href="#">http://sd.ds/1389kjklf#</a>quo nulla.
                            </span>
                        </li>
                        <li>
                            <label class="fa fa-twitter" aria-hidden="true"></label><i>02 day ago</i><span>
                                Con numquam <a href="#">http://fd.uf/56hfg#</a>
                                eius modi tempora incidunt ut labore et
                                <a href="#">http://fd.uf/56hfg#</a>quo nulla.
                            </span>
                        </li>
                    </ul>*@
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Gizlilik Politikası</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="#">SSS</a></li>
                    <li><a href="#">Gizlilik Politikası</a></li>
                    <li><a href="#">Kullanım Koşulları</a></li>
                </ul>
            </div>

            <div class="clearfix"> </div>

            <div class="agile_footer_grids">
                <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                    <div class="w3_footer_grid_bottom">
                        <h4>100% Güvenli Ödeme</h4>
                        <img src="~/wwwroot/images/card.png" alt=" " class="img-responsive" />
                    </div>
                </div>
                <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                    <div class="w3_footer_grid_bottom">
                        <h5>Sosyal Medya Hesaplarımız</h5>
                        <ul class="agileits_social_icons">
                            <li><a href="https://facebook.com" target="_blank" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com" target="_blank" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://instagram.com" target="_blank" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="wthree_footer_copy">
                <p>© @DateTime.Now.Year Manav Melih. Tüm hakları saklıdır | TechCareer Back-End BootCamp Team</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/wwwroot/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <script src="~/wwwroot/js/minicart.js"></script>
    <script>
        paypal.minicart.render();

        paypal.minicart.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 1) {
                //alert('The minimum order quantity is 1. Please add more to your shopping cart before checking out');
                alert('En az 1 ürün sepete eklemeniz gerekiyor...')
                evt.preventDefault();
            }
        });

    </script>
</body>
</html>
