
@{
    ViewBag.Title = "Category";
    <!--Hüseyin Bilgiç-->
    List<PortalDataLayer.TblCategory> Categories = (List<PortalDataLayer.TblCategory>)HttpContext.Current.Application["Categories"];
    <!--Hüseyin Bilgiç-->
}

<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
    <!--Hüseyin Bilgiç-->
    @if (Categories != null)
    {
        <ul class="nav navbar-nav nav_1">
            @foreach (PortalDataLayer.TblCategory category in Categories)
            {
                <li><a href="~/Home/Index/@category.CategoryName">@category.CategoryName</a></li>
            }
        </ul>
    }
    <!--Hüseyin Bilgiç-->
</div>

